<f:form name="filter">

	<f:switch expression="{filter.filterType}">
		<f:case value="simple">
			<f:render partial="List/FilterType/Simple" arguments="{_all}" />
		</f:case>
		<f:case value="extended">
			<f:render partial="List/FilterType/Extended" arguments="{_all}" />
		</f:case>
		<f:defaultCase>
			<f:render partial="List/FilterType/Classic" arguments="{_all}" />
		</f:defaultCase>
	</f:switch>

	<f:if condition="{filter.filterFrontendSet}">
		<f:link.action action="resetList" class="btn btn-default button" style="margin-right: 10px">
			<f:translate key="list.filter.reset">reset filter</f:translate>
		</f:link.action>
	</f:if>

	<f:form.submit value="{f:translate(key:'list.filter.submit')}" />

</f:form>
