# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# HTML-Files
[*.html]
indent_style = tab

# JS-Files
[*.{js,ts}]
indent_size = 4

# PHP-Files
[*.php]
indent_size = 4

# MD-Files
[*.md]
indent_size = 4

# XLF-Files
[*.xlf]
indent_style = tab

# SQL-Files
[*.sql]
indent_style = tab

[Makefile]
indent_size = 4
indent_style = tab
