<f:render partial="List/Filter" arguments="{_all}"/>

<f:if condition="{publications}">
	<f:then>
		<f:widget.paginate
				objects="{publications}"
				as="publicationsPage"
				configuration="{itemsPerPage:filter.recordsPerPage,insertAbove:0,insertBelow:showPagination,maximumNumberOfLinks:10}">
			<ul style="list-style-type: none; padding: 20px 0;">
				<f:for each="{publicationsPage}" as="publication">
					<li style="padding: 20px 0;">
						<f:render partial="List/Citestyle/Citestyle{filter.citestyle}" arguments="{_all}" />
					</li>
				</f:for>
			</ul>
		</f:widget.paginate>
	</f:then>
	<f:else>
		Keine Publikationen gefunden
	</f:else>
</f:if>

